


<div class="info-box">
    <span class="info-box-icon bg-aqua">{{article.votes}}</span>

    <div class="info-box-content">
      <span class="info-box-title">{{article.title}}</span>
      <span class="info-box-number"><a href (click)="voteUp()">
          <i class="arrow up icon"></i>
          upvote
        </a></span>

        <span class="info-box-number"><a href (click)="voteDown()">
            <i class="arrow up icon"></i>
            downvote
          </a></span>
          
    </div>
    <!-- /.info-box-content -->
  </div>